/* rob styles */

body {
  background: url('../img/background.png') no-repeat center center; 
 background-size: cover; /* Make image cover the entire viewport */
 font-family: 'OpenSans', sans-serif;
 font-size:120%;
 margin: 0;
 padding: 0;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.container {
  position: relative;
  height: 100vh;
  
}

.controls {
  display: flex;
  flex-direction: column;
}

.board {
  background: url("../img/water.gif") no-repeat;
  background-size: cover;
     border-radius:5px;
     width:0px;
     height:0px;
     margin:auto;
     position:relative;
     padding:10px;
}

.intro-container {
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


input[type="text"] {
  border: 1px solid #000000;
  margin-top: 5px;
  padding: 5px 10px; /* Adjust padding for better visual balance on mobile */
  background: rgba(123, 211, 247, 0.7);
  border-radius: 2px;
  font-size: 1rem; /* Use rem for better responsiveness */
  width: 100%; /* Make the input field fill the available width */
  box-sizing: border-box; /* Ensure padding doesn't affect width calculations */
}


input[type="button"] {
    border: 1px solid #000000;
    background:#7bd3f7;
    border-radius: 2px; 
    margin-top: 5px;
    padding:10px 10px; 
    font-size:80%;
    text-align:center;
    cursor:pointer;
}

.alert {
  display:none;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.5);
}

.alert_box {
 background-color:#7bd3f7;
 border-radius:5px;
 border-color: #000000;
 width:50%;
 height:15%;
 margin:auto;
 padding:10px;
 text-align:center;
 font-size:2rem;
 display:table;
 margin-top:25%;
}


.alert_box_row {
 display:table-row;
 height:50%;
 width:100%;
}

.alert_box_cell {
 display:table-cell;
 vertical-align:middle;
 text-align:center;
}

.btn {
 background-color: #7bd3f7;
 border-radius:5px;
 cursor:pointer;
 display:inline-block;
 padding: 42px;
 margin:auto;
 width:25%;
 height:80%;
}

.message {
 background-color: rgba(0,51,102, 0.7);
 border-radius: 42px;
 width: 40%; /* Adjust width as needed for desktop */
 height: 300px; /* Adjust height as needed for desktop */
 margin: auto;
 padding: 42px;
 text-align: center;
 color: #ffffff;
 display: table;
 margin-top: 100px; /* Adjust margin-top as needed for desktop */
}

.message_row {
  width: 80%;
  max-width: 90%;
  height: auto; /* Adjust height to be auto or as needed for mobile */
  margin-top: 50px; /* Adjust margin-top as needed for mobile */
  padding: 256px; /
}

.message_cell {
  width: 80%;
  max-width: 90%;
  height: auto; /* Adjust height to be auto or as needed for mobile */
  margin-top: 50px; /* Adjust margin-top as needed for mobile */
  padding: 256px; /
}

.message_row {
 display:table-row;
}

.message_cell {
 padding:4px;
 display:table-cell;
 text-align:right;
 vertical-align:middle;
}


.speed {
 white-space:nowrap;
 font-size:60%;
}

.drag {
  position:fixed;
  width:42px;
  height:42px;
  visibility:hidden;
  outline: 3px solid rgb(238, 255, 0);
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
  z-index:2;
  pointer-events:none;
}

.inst_bt {
  width:50%;
  text-align:center;
  vertical-align:middle;
  margin:auto;
}

.piece {
  position:absolute;
  width:42px;
  height:42px;/*
  border-top:1px solid;
  border-left:1px solid;
  border-bottom:1px solid;
  border-right:1px solid;
  box-sizing:border-box;*/
}

.piece.blue {
 background: url("../img/test.png");
}
.piece.red {
 background:#FF0000;
 background:linear-gradient(to bottom right, #F77, #F33);
 border-top-color:#F88;
 border-left-color:#F88;
 border-bottom-color:#F22;
 border-right-color:#F22;
}
.piece.green {
 background:#00FF00;
 background:linear-gradient(to bottom right, #7D7, #3D3);
 border-top-color:#8D8;
 border-left-color:#8D8;
 border-bottom-color:#3D3;
 border-right-color:#3D3;
}
.piece.star {
 background:url('../img/42.png');
 background-size: 30px;
 background-repeat: no-repeat;
 background-position: center;
 border:0px;
}
.piece.arrow {
 background:url('../img/fleche.png');
 background-size: 30px;
 background-repeat: no-repeat;
 background-position: center;
 border:0px;
}


.footer {
 display:table;
 position:fixed;
 background-color:#7bd3f7;
 border-radius:5px;
 font-size:60%;
 width:50px;
 height:2em;
 bottom:10px;
 text-align:center;
 vertical-align:middle;
}
.rst { right:10px; cursor:pointer; }
.lvl { left:10px; }
.ftd {
 display:table-cell;
 height:100%;
 vertical-align:middle;
 text-align:center;
}

.cmd, .inst {
 background-color:#BBBBBB;
 border-radius:5px;
 width:0px;
 height:0px;
 position:relative;
 padding:10px;
}

.cmd {
 margin:auto;
}
.inst {
 display:inline-block;
 vertical-align:middle;
 text-align:center;
 margin:10px;
 float: left;
}

.cmdinst, .instinst {
  position:absolute;
  width:42px;
  height:42px;
  border:1px solid #222;
  box-sizing:border-box;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
}

.cmdinst.forward, .drag.forward { background-image:url('../img/forward.png'), linear-gradient(to bottom, #BBB, #777); }
.cmdinst.left, .drag.left { background-image:url('../img/left.png'), linear-gradient(to bottom, #BBB, #777); }
.cmdinst.right, .drag.right { background-image:url('../img/right.png'), linear-gradient(to bottom, #BBB, #777); }
.cmdinst.none, .drag.none {  background-image:linear-gradient(to bottom, #BBB, #777); }
.cmdinst.red, .drag.red {  background-image:linear-gradient(to bottom, #F77, #F33); }
.cmdinst.green, .drag.green {  background-image:linear-gradient(to bottom, #7D7, #3D3); }
.cmdinst.blue, .drag.blue {  background-image:linear-gradient(to bottom, #77F, #33F); }
.cmdinst.f1, .drag.f1 { background-image:url('../img/f1.png'), linear-gradient(to bottom, #BBB, #777); }
.cmdinst.f2, .drag.f2 { background-image:url('../img/f2.png'), linear-gradient(to bottom, #BBB, #777); }
.cmdinst.f3, .drag.f3 { background-image:url('../img/f3.png'), linear-gradient(to bottom, #BBB, #777); }
.cmdinst.f4, .drag.f4 { background-image:url('../img/f4.png'), linear-gradient(to bottom, #BBB, #777); }
.cmdinst.f5, .drag.f5 { background-image:url('../img/f5.png'), linear-gradient(to bottom, #BBB, #777); }


.insthdr {
  position:absolute;
  width:42px;
  height:42px;
  box-sizing:border-box;
}
.insthdr.f1 { background-image:url('../img/f1.png'); }
.insthdr.f2 { background-image:url('../img/f2.png'); }
.insthdr.f3 { background-image:url('../img/f3.png'); }
.insthdr.f4 { background-image:url('../img/f4.png'); }
.insthdr.f5 { background-image:url('../img/f5.png'); }

.instinst.forward.none, .drag.forward.none  { background-image:url('../img/forward.png'), linear-gradient(to bottom, #BBB, #777); }
.instinst.forward.red, .drag.forward.red   { background-image:url('../img/forward.png'), linear-gradient(to bottom, #F77, #F33); }
.instinst.forward.green, .drag.forward.green { background-image:url('../img/forward.png'), linear-gradient(to bottom, #7D7, #3D3); }
.instinst.forward.blue, .drag.forward.blue  { background-image:url('../img/forward.png'), linear-gradient(to bottom, #77F, #33F); }
.instinst.left.none, .drag.left.none  { background-image:url('../img/left.png'), linear-gradient(to bottom, #BBB, #777); }
.instinst.left.red, .drag.left.red   { background-image:url('../img/left.png'), linear-gradient(to bottom, #F77, #F33); }
.instinst.left.green, .drag.left.green { background-image:url('../img/left.png'), linear-gradient(to bottom, #7D7, #3D3); }
.instinst.left.blue, .drag.left.blue  { background-image:url('../img/left.png'), linear-gradient(to bottom, #77F, #33F); }
.instinst.right.none, .drag.right.none  { background-image:url('../img/right.png'), linear-gradient(to bottom, #BBB, #777); }
.instinst.right.red, .drag.right.red   { background-image:url('../img/right.png'), linear-gradient(to bottom, #F77, #F33); }
.instinst.right.green, .drag.right.green { background-image:url('../img/right.png'), linear-gradient(to bottom, #7D7, #3D3); }
.instinst.right.blue, .drag.right.blue  { background-image:url('../img/right.png'), linear-gradient(to bottom, #77F, #33F); }
.instinst.empty.none, .drag.empty.none  { background-image:linear-gradient(to bottom, #BBB, #777); }
.instinst.empty.red, .drag.empty.red   { background-image:linear-gradient(to bottom, #F77, #F33); }
.instinst.empty.green, .drag.empty.green { background-image:linear-gradient(to bottom, #7D7, #3D3); }
.instinst.empty.blue, .drag.empty.blue  { background-image:linear-gradient(to bottom, #77F, #33F); }
.instinst.f1.none, .drag.f1.none  { background-image:url('../img/f1.png'), linear-gradient(to bottom, #BBB, #777); }
.instinst.f1.red, .drag.f1.red   { background-image:url('../img/f1.png'), linear-gradient(to bottom, #F77, #F33); }
.instinst.f1.green, .drag.f1.green { background-image:url('../img/f1.png'), linear-gradient(to bottom, #7D7, #3D3); }
.instinst.f1.blue, .drag.f1.blue  { background-image:url('../img/f1.png'), linear-gradient(to bottom, #77F, #33F); }
.instinst.f2.none, .drag.f2.none  { background-image:url('../img/f2.png'), linear-gradient(to bottom, #BBB, #777); }
.instinst.f2.red, .drag.f2.red   { background-image:url('../img/f2.png'), linear-gradient(to bottom, #F77, #F33); }
.instinst.f2.green, .drag.f2.green { background-image:url('../img/f2.png'), linear-gradient(to bottom, #7D7, #3D3); }
.instinst.f2.blue, .drag.f2.blue  { background-image:url('../img/f2.png'), linear-gradient(to bottom, #77F, #33F); }
.instinst.f3.none, .drag.f3.none  { background-image:url('../img/f3.png'), linear-gradient(to bottom, #BBB, #777); }
.instinst.f3.red, .drag.f3.red   { background-image:url('../img/f3.png'), linear-gradient(to bottom, #F77, #F33); }
.instinst.f3.green, .drag.f3.green { background-image:url('../img/f3.png'), linear-gradient(to bottom, #7D7, #3D3); }
.instinst.f3.blue, .drag.f3.blue { background-image:url('../img/f3.png'), linear-gradient(to bottom, #77F, #33F); }
.instinst.f4.none, .drag.f4.none  { background-image:url('../img/f4.png'), linear-gradient(to bottom, #BBB, #777); }
.instinst.f4.red, .drag.f4.red   { background-image:url('../img/f4.png'), linear-gradient(to bottom, #F77, #F33); }
.instinst.f4.green, .drag.f4.green { background-image:url('../img/f4.png'), linear-gradient(to bottom, #7D7, #3D3); }
.instinst.f4.blue, .drag.f4.blue  { background-image:url('../img/f4.png'), linear-gradient(to bottom, #77F, #33F); }
.instinst.f5.none, .drag.f5.none  { background-image:url('../img/f5.png'), linear-gradient(to bottom, #BBB, #777); }
.instinst.f5.red, .drag.f5.red   { background-image:url('../img/f5.png'), linear-gradient(to bottom, #F77, #F33); }
.instinst.f5.green, .drag.f5.green { background-image:url('../img/f5.png'), linear-gradient(to bottom, #7D7, #3D3); }
.instinst.f5.blue, .drag.f5.blue  { background-image:url('../img/f5.png'), linear-gradient(to bottom, #77F, #33F); }


/*THIS IS FOR MOBILE JESUS HELP*/
@media screen and (max-width: 768px) {

  body {
    background: url('../img/background.png') no-repeat center center; 
   background-size: cover; /* Make image cover the entire viewport */
   font-family: 'OpenSans', sans-serif;
   font-size:120%;
    margin: auto;
  padding: 4vh;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
  }
  .container {
    position: relative;
    max-height: 600px;
  }

  #board {
    position: absolute;
    width: 100%;
    height: 60%;
    top: 0;
    left: 0;
  }
  

  .alert_box {
    background-color:#7bd3f7;
    border-radius:2px;
    border-color: #00e1ff;
    width:75%;
    height:25%;
    margin:auto;
    padding:42px;
    text-align:center;
    font-size:2rem;
    display:table;
    margin-top:50%;
   }
   

 input[type="text"] {
  border: 1px solid #000000;
  margin-top: 5px;
  padding: 5px 10px; /* Adjust paddin7g for better visual balance on mobile */
  background: rgba(123, 211, 247, 0.7);
  border-radius: 2px;
  font-size: 2rem; /* Use rem for better responsiveness */
  box-sizing: border-box; /* Ensure padding doesn't affect width calculations */
}

.cmd, .inst {
  position: absolute;
  width: 30%;
  height: 100%;
  top: 42vh;
  right: 1vh;
 }

 .inst {
  display:inline-block;
  vertical-align:middle;
  text-align:center;
  margin:10px;
  max-width: 40%;
 }
 

 .inst_bt {
  width:42px;
  max-width: 100%;
  text-align:center;
  vertical-align:middle;
  margin:auto;
}


.cmdinst,
.instinst {
  position: absolute; /* Change to relative positioning */
  display: inline-block; /* Ensure elements flow inline */
  width: 42px;
  height: 42px;
  border: 1px solid #222;
  box-sizing: border-box;
  background-size:contain ; /* Adjust background size */
  background-repeat: no-repeat;
  background-position: left;
}
 

 .piece {
  position:absolute;
  width:42px;
  height:42px;
  border-top:1px solid;
  border-left:1px solid;
  border-bottom:1px solid;
  border-right:1px solid;
  box-sizing:border-box;
}

}
/*end of mobile */
