@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}

.player-0 {
  background: url('/assets/piscine/player_est.png') center/cover;
}

.player-90 {
  background: url('/assets/piscine/player_south.png') center/cover no-repeat;
}

.player-180 {
  background: url('/assets/piscine/player_west.png') center/cover no-repeat;
}

.player-270 {
  background: url('/assets/piscine/player_north.png') center/cover no-repeat;
}

.collectible {
  background: url('/assets/piscine/collectible.png') center/cover no-repeat;
}

.tile {
  background: url('/assets/piscine/tiles_32x32.gif') center/cover no-repeat;
}
